
<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {eq name='$Request.action' value='arctype_index'}current{/eq}" value="栏目管理" onClick="window.location.href='{eq name='$Request.action' value='arctype_index'}javascript:void(0);{else /}{:url('RecycleBin/arctype_index')}{/eq}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {eq name='$Request.action' value='archives_index'}current{/eq}" value="文档管理" onClick="window.location.href='{eq name='$Request.action' value='archives_index'}javascript:void(0);{else /}{:url('RecycleBin/archives_index')}{/eq}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {eq name='$Request.action' value='customvar_index'}current{/eq}" value="自定义变量" onClick="window.location.href='{eq name='$Request.action' value='customvar_index'}javascript:void(0);{else /}{:url('RecycleBin/customvar_index')}{/eq}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {eq name='$Request.action' value='proattr_index'}current{/eq}" value="产品参数" onClick="window.location.href='{eq name='$Request.action' value='proattr_index'}javascript:void(0);{else /}{:url('RecycleBin/proattr_index')}{/eq}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {eq name='$Request.action' value='gbookattr_index'}current{/eq}" value="留言属性" onClick="window.location.href='{eq name='$Request.action' value='gbookattr_index'}javascript:void(0);{else /}{:url('RecycleBin/gbookattr_index')}{/eq}';">
</div>