<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__ADMIN__/css/style.css">
	<link rel="stylesheet" href="__ADMIN__/css/bootstrap.min.css">
	<script src="__ADMIN__/js/jquery.min.js"></script>
	<script src="__ADMIN__/js/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style type="text/css">
        table tr th {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="table" v-cloak>
    	<div class="return-title">
			<ul class="breadcrumb breadcrumb-s" >
				<li><a href="#">骑手管理</a></li>
				<li class="active">全部</li>
			</ul>
			<div class="search-box">
				<div class="input-group input-change">
		            <input type="text" class="form-control" placeholder="请输入搜索用户名" v-model="searchVal">
		            <span class="input-group-btn">
                        <a class="btn btn-default" id='search' name='search' data-src="" @click="search()">搜索</a>
                    </span>
		        </div>
		        <div class="add-btn">
		        	<button type="button" class="update-btn" @click="addlist=true">添加数据</button>
		        </div>
			</div>
		</div>
        <table class="table table-change table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
					<th>用户名</th>
					<th>名称</th>
					<th>性别</th>
					<th>所属区域</th>
					<th>账户状态</th>
					<th>配送状态</th>
					<th>操作</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(item,index) in newList">
                    <tr v-if="index>=(curpage-1)*pagesize&&index<curpage*pagesize">
                        <th>{{item.id}}</th>
						<th>{{item.username}}</th>
						<th>{{item.nickname}}</th>
						<th>{{item.sex}}</th>
						<th>{{item.area_cn}}</th>
						<th v-if="item.accountstatus == '1'">正常</th>
						<th v-else-if="item.accountstatus == '2'">锁定</th>
						<th v-else>冻结</th>
						<th v-if="item.status == '1'">待接单</th>
						<th v-else-if="item.status == '2'">待配送</th>
						<th v-else>待取货</th>
						<th class="edit-removing">
							<a @click="status(item)">实时状态</a>
							<a class="history" data-id="history" >配送历史</a>
							<a @click="edit(item)">编辑</a>
							<span class="delete-color" @click="deletelist(item.id)">删除</span>
						</th>
                    </tr>
                </template>
            </tbody>
        </table>

       <!--  <nav class="paginationNav">
            <ul class="pagination pagination-xl">
                <template v-for="page in Math.ceil(list.length/pagesize)">
                    <li v-on:click="PrePage()" id="prepage" v-if="page==1" class="disabled"><a href="#">上一页</a></li>
                    <li v-if="page==1" class="active" v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                    <li v-else v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                    <li id="nextpage" v-on:click="NextPage()" v-if="page==Math.ceil(list.length/pagesize)"><a href="#">下一页</a></li>
                </template>
            </ul>
        </nav> -->
         <nav class="paginationNav">
			{$page|raw}
			 </nav> 
        <div class="release-article" v-if="statuslist">
			<div class="status-edit">
				<div class="tilte-info">
					<p>配送状态</p>
				</div>
				<form action="" class="edit-form">
					<div class="edit-padding">
						<div class="edit-title">
							<span>所在位置：</span>
						</div>
						<div class="edit-input">
							<input type="text" v-model="statusDetail.riderPosition" name="riderPosition" value=""  disabled="disabled">
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>配送订单：</span>
						</div>
						<div class="edit-input">
							<input type="text" v-model="statusDetail.deliveryOrder" name="deliveryOrder" value=""  disabled="disabled">
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>时间：</span>
						</div>
						<div class="edit-input">
							<input type="text" v-model="statusDetail.deliveryTime" name="deliveryTime" value=""  disabled="disabled">
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>状态：</span>
						</div>
						<div class="edit-input">
							<input type="text" v-model="statusDetail.riderstatus" name="riderstatus" value=""  disabled="disabled">
						</div>
					</div>
					<div class="edit-padding" style="text-align: center;">
						    <button type="button" class="update-btn" @click="statuslist=false">取消</button>
					</div>
				</form>
			</div>
		</div>

        <div class="release-article" v-if="editlist">
			<div class="status-edit">
				<div class="tilte-info">
					<p>编辑</p>
				</div>
				<form action="" class="edit-form" name='editform'>
					<div class="edit-padding">
						<div class="edit-title">
							<span>用户名：</span>
						</div>
						<div class="edit-input">
							<input type="text" v-model="editDetail.username" name="username" value="" placeholder="张三" disabled="disabled">
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>名称：</span>
						</div>
						<div class="edit-input">
							<input type="text" v-model="editDetail.nickname" name="nicknamearea_cn" value="" placeholder="user" >
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>性别：</span>
						</div>
						<div class="edit-input">
							<select v-model="editDetail.sex" name="sex" value=""> 
							<option name="sex">男</option> 
							<option name="sex">女</option> 
							</select> 
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>所属区域：</span>
						</div>
						<div class="edit-input">
							<select v-model="editDetail.area_cn" name="area_cn" value=""> 
							<option name="region">城中区</option> 
							<option name="region">柳北区</option> 
							<option name="region">鱼峰区</option> 
							<option name="region">柳南区</option> 
							</select> 
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>账户状态：</span>
						</div>
						<div class="edit-input">
							<select v-model="editDetail.accountstatus" name="accountstatus" > 
								<option name="accountstatus" value="1">正常</option> 
								<option name="accountstatus" value='0'>锁定</option> 
								<option name="accountstatus" value='2'>冻结</option> 
							</select> 
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>配送状态：</span>
						</div>
						<div class="edit-input">
							<select v-model="editDetail.status" name="status"> 
								<option name="status" value='1'>待接单</option> 
								<option name="status" value='3'>待取货</option> 
								<option name="status" value='2'>待配送</option> 
							</select> 
						</div>
					</div>
					<div class="edit-padding">
						<div class="update">
						    <button type="button" class="update-btn" @click="update">更新</button>
						</div>
						<div class="cancel">
						    <button type="button" class="update-btn" @click="editlist=false">取消</button>
						</div>
					</div>
				</form>
			</div>
		</div> 

		<div class="release-article" v-if="addlist">
			<div class="status-edit status-top">
				<div class="tilte-info">
					<p>添加</p>
				</div>
				<form action="" class="edit-form">
					<div class="edit-padding">
						<div class="edit-title">
							<span>用户名：</span>
						</div>
						<div class="edit-input">
							<input type="text" v-model="tableData.username" name="username" value="" placeholder="请输入用户名" />
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>名称：</span>
						</div>
						<div class="edit-input">
							<input type="text" v-model="tableData.nickname" name="nickname" value="" placeholder="请输入名称">
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>性别：</span>
						</div>
						<div class="edit-input">
							<select v-model="tableData.sex" name="sex" value=""> 
								<option disabled value="">请选择性别</option> 
								<option name="sex">男</option> 
								<option name="sex">女</option> 
							</select> 
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>所属区域：</span>
						</div>
						<div class="edit-input">
							<select v-model="tableData.area_cn" name="area_cn"> 	 
							 <option disabled value="">请选择区域</option> 
								<option name="area_cn" value = "城中区">城中区</option> 
								<option name="area_cn" value = "柳北区">柳北区</option> 
								<option name="area_cn" value = "鱼峰区">鱼峰区</option> 
								<option name="area_cn" value = "柳南区">柳南区</option> 
							</select> 
						</div>
						
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>账户状态：</span>
						</div>
						<div class="edit-input">
							<select v-model="tableData.accountstatus" name="accountstatus" value=""> 
								<option disabled value="">请选择账户状态</option> 
								<option name="accountstatus" value='1'>正常</option> 
								<option name="accountstatus" value='0'>锁定</option> 
								<option name="accountstatus" value='2'>冻结</option> 
							</select> 
						</div>
					</div>
					<div class="edit-padding">
						<div class="edit-title">
							<span>配送状态：</span>
						</div>
						<div class="edit-input">
							<select v-model="tableData.status" name="status" value=""> 
								<option disabled value="">请选择配送状态</option> 
								<option name="status" value='1'>待接单</option> 
								<option name="status" value='2'>待配送</option> 
								<option name="status" value='3'>待取货</option> 
								
							</select> 
						</div>
					</div>
					<div class="edit-padding">
						<div class="update">
						    <button type="button" class="update-btn" @click="addSubForm">添加</button>
						</div>
						<div class="cancel">
						    <button type="button" class="update-btn" @click="addlist=false">取消</button>
						</div>
					</div>
				</form>
			</div>
		</div> 

		<div class="status-delete" style="display: none;" id = "updatelist" >
			<div class="delete-tilte-info">
				<p>消息</p >
			</div>
			<form action="" class="delete-form">
				<div class="delete-padding">
					<span id="updatespan">更新成功</span>
				</div>
			</form>
		</div>

    </div>

<!-- <script>
    $(function() {
        $(".history").on("click", function() {
            var sId = $(this).data("id"); //获取data-id的值
            window.location.hash = sId; //设置锚点
            loadInner();
        });
 
        function loadInner() {
            var sId = window.location.hash;
            var pathn, i;
            switch(sId) {
                case "#history":
                    pathn = "../horseman/deliveryHistory.html";
                    i = 0;
                    break;
                default:
                    pathn = "deliveryHistory.html";
                    i = 0;
                    break;
            }
            $("#table").load(pathn); //加载相对应的内容
            // $(".sidebar-menu li").eq(i).addClass("current").siblings().removeClass("current"); //当前列表高亮
        }
        var sId = window.location.hash;
        // loadInner();
    });
</script> -->

<script type="text/javascript">
    //Model
    var arr = eval('<?php echo json_encode($result);?>');
    var data = {
    	editlist: false,
	    statuslist: false,
	    addlist:false,
	    aaalist:false,
	   	tableData:{"id":0,"username":"","nickname":"","sex":"","area_cn":"","accountstatus":"","status":""},
	    editDetail: {},
	    statusDetail: {},
        newList:arr,
        searchVal:'',
        pagesize: 5,
        curpage:1,//当前页的页码
        editid:'',
    };
    //ViewModel
    var vue = new Vue({
        el: '#table',
        data: data,
        mounted() {

	    },
        methods: {
        	// 添加数据
			addSubForm:function(){
          //       this.editDetail = {
		        //   name: this.tableData.name,
		        //   status: this.tableData.status,
		        // }
		                    //ajax向后台传递数据
		            $.ajax({
						    type: "post",
						    url:  "/admin/horseman/horseman_add",
						    contentType: "application/json; charset=utf-8",
						    data:JSON.stringify( this.tableData),
						    dataType: "json",
						    success: function (data) {
						       if(data == 1)
						       {
							       document.getElementById('updatespan').innerText="添加成功"
							       var obj=document.getElementById('updatelist')
							       obj.style.display = "block"
							       var t=setTimeout("location.reload()",2000);
						       	// window.location.reload()
						       }else{
						       		document.getElementById('updatespan').innerText="添加失败"
						       		var obj=document.getElementById('updatelist')
						       		obj.style.display = "block"
						       		var t=setTimeout("location.reload()",2000);
						       }
						    },
						    error: function (message) {
						        //失败信息
						    }
						});
                this.addlist=false
            },
        	status(item) {
		        this.statusDetail = {
		          riderPosition:item.riderPosition,
		          deliveryOrder: item.deliveryOrder,
		          deliveryTime: item.deliveryTime,
		          riderstatus: item.riderstatus,
		        }
		        this.statuslist = true
		        this.editid = item.id
		    },
		    // 编辑
        	edit : function(item) {
		        this.editDetail = {
		          username:item.username,
		          nickname: item.nickname,
		          sex: item.sex,
		          area_cn: item.area_cn,
		          accountstatus: item.accountstatus,
		          status: item.status
		        }
		        this.editid = item.id
		        this.editlist = true
		       // this.editid = item.id
		    },
		    // 更新
		    update() {
      			let _this= this
		        for(let i = 0; i < _this.newList.length; i++) {
		          if(_this.newList[i].id ==this.editid) {
		            _this.newList[i] = {
		              username:_this.editDetail.username,
		              nickname: _this.editDetail.nickname,
		              sex: _this.editDetail.sex,
		              area_cn: _this.editDetail.area_cn,
		              accountstatus: _this.editDetail.accountstatus,
		              status: _this.editDetail.status,
		              // dates: _this.editDetail.dates,
		              id: this.editid
		            }
		            //ajax向后台传递数据
		            $.ajax({
						    type: "post",
						    url:  "/admin/horseman/horseman_edit",
						    contentType: "application/json; charset=utf-8",
						    data:JSON.stringify(_this.newList[this.editid-1]),
						    dataType: "json",
						    success: function (data) {
						       if(data == 1)
						       {
						       var obj=document.getElementById('updatelist')
						       obj.style.display = "block"
						       var t=setTimeout("location.reload()",2000);
						       	// window.location.reload()
						       }else{
						       	 document.getElementById('updatespan').innerText="更新失败"
						       	var obj=document.getElementById('updatelist')
						       	obj.style.display = "block"
						       var t=setTimeout("location.reload()",2000);
						       }
						    },
						    error: function (message) {
						        //失败信息
						    }
						});
		            //关闭弹框
		            this.editlist = false
		          }
		        }
      		},
      		//删除
			deletelist(item) {
				let _this= this
				var id = item
			    $.ajax({
					    type: "get",
					    url:  "/admin/horseman/horseman_delete?id="+id,
					    contentType: "application/json; charset=utf-8",
					    dataType: "json",
					    success: function (data) {
					       if(data == 1)
					       {
						       document.getElementById('updatespan').innerText="删除成功"
						       var obj=document.getElementById('updatelist')
						       obj.style.display = "block"
						       var t=setTimeout("location.reload()",2000);
					       	// window.location.reload()
					       }else{
					       	 	document.getElementById('updatespan').innerText="删除失败"
						       	var obj=document.getElementById('updatelist')
						       	obj.style.display = "block"
						       var t=setTimeout("location.reload()",2000);
					       }
					    },
					    error: function (message) {
					        //失败信息
					    }
					});
		       
			},
			     		//搜索
			search() {
				var username = this.searchVal
				document.getElementById('search').href="../horseman/horseman?username="+username
			},
            //上一页方法
            PrePage: function (event) 
            {
                $(".pagination .active").prev().trigger("click");
            },
            //下一页方法
            NextPage: function (event) {
                $(".pagination .active").next().trigger("click");
            },
            //点击页码的方法
            NumPage: function (num, event) {
                if (this.curpage == num) {
                    return;
                }
                this.curpage = num;
                $(".pagination li").removeClass("active");
                if (event.target.tagName.toUpperCase() == "LI") {
                    $(event.target).addClass("active");
                }
                else {
                    $(event.target).parent().addClass("active");
                }
                if (this.curpage == 1) {
                    $("#prepage").addClass("disabled");
                }
                else {
                    $("#prepage").removeClass("disabled");
                }
                if (this.curpage == Math.ceil(this.list.length / this.pagesize)) {
                    $("#nextpage").addClass("disabled");
                }
                else {
                    $("#nextpage").removeClass("disabled");
                }
            }
        },
    //     computed:{
	   //    list: function(){
	   //      var _this = this;
	   //      var arrByZM = [];
	   //      for (var i=0;i<this.newList.length;i++){
		  //       if(this.newList[i].username.search(this.searchVal) != -1){
		  //       arrByZM.push(this.newList[i]);
		  //   	}
	   //    	}
	   //    return arrByZM;
	   //    }
	  	// },
        ready:function(){
           var s = JSON.stringify(this.newList);
           console.log(JSON.parse(s))
        }
    });
</script>
</body>
 
</html>